/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color: #F1E8D9;
  	display: block;
}

.label{ 
	-fx-font-family: "Agency FB";
  	-fx-text-fill: #415ee0;
  	-fx-font-weight: bold;
  	-fx-font-size: 24px;
}

#song-name{
	-fx-font-size: 48px;
}

.button{
  	-fx-background-color: #B9D6F3;
}
.hbox{
  	-fx-margin: 0 5 0 5;
}

#padding-5px{
	-fx-padding: 5 5 5 5;
}

#margin-5px{
	-fx-margin: 5 5 5 5;
}

.icon-button{
	-fx-min-width: 52px;
	-fx-min-height: 52px;
	-fx-padding: 5 5 5 5;
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: 28 28;
	-fx-background-position:center;	    
}

#playlist-button.playlist-icon{
	-fx-background-size: 48 48;
	-fx-background-color: transparent;
	-fx-background-image: url("../../../src/assets/icons/icon-playlist-48.png");
}

#volume.volume-icon{
	-fx-min-width: 32px;
  	-fx-min-height: 32px;
	-fx-background-color: transparent;
	-fx-background-size: 28 28;
  	-fx-background-position:center;
  	-fx-background-image: url("../../../src/assets/icons/icon-volume-48.png");
}

#play-button.play-icon {
  	-fx-background-radius: 26;
	-fx-background-image: url("../../../src/assets/icons/icon-play-48.png");
}

#play-button.pause-icon {
    -fx-background-radius: 26;
	-fx-background-image: url("../../../src/assets/icons/icon-pause-48.png");
}

#skip-button.skip-icon {
	-fx-min-width: 42px;
  	-fx-min-height: 42px;
  	-fx-padding: 5 5 5 5;
 	-fx-background-radius: 21;
  	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: 24 24;
  	-fx-background-position:center;
	-fx-background-image: url("../../../src/assets/icons/icon-skip-48.png");
}

#skipback-button.skipback-icon{
	-fx-min-width: 42px;
  	-fx-min-height: 42px;
  	-fx-padding: 5 5 5 5;
 	-fx-background-radius: 21;
  	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: 24 24;
  	-fx-background-position:center;
	-fx-background-image: url("../../../src/assets/icons/icon-skip-back-48.png");
}

#shuffle-button.shuffle-icon{
	-fx-min-width: 42px;
  	-fx-min-height: 42px;
	-fx-background-color: transparent;
  	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: 30 30;
  	-fx-background-position:center;
  	-fx-background-image: url("../../../src/assets/icons/icon-shuffle-48.png");
}

#repeat-button.repeat-icon{
	-fx-min-width: 42px;
  	-fx-min-height: 42px;
	-fx-background-color: transparent;
  	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: 30 30;
  	-fx-background-position:center;
  	-fx-background-image: url("../../../src/assets/icons/icon-repeat-48.png");
}

#repeat-button.repeat-one-icon{
	-fx-min-width: 42px;
  	-fx-min-height: 42px;
	-fx-background-color: transparent;
  	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: 30 30;
  	-fx-background-position:center;
  	-fx-background-image: url("../../../src/assets/icons/icon-repeat-one-48.png");
}
