/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color: linear-gradient(to right, #333333 , #ffffff);
  	display: block;
}

.label{ 
	-fx-font-family: "Agency FB";
  	-fx-text-fill: #000000;
  	-fx-font-weight: bold;
  	-fx-font-size: 24px;
}

#song-name{
	-fx-font-size: 48px;
}

#playlist-name{
	-fx-font-size: 48px;	
}

#title{
	-fx-font-size: 28px;
}

.button{
  	-fx-background-color: #B9D6F3;
}

.hbox{
  	-fx-margin: 0 5 0 5;
}


.icon-button{
	-fx-min-width: 64px;
	-fx-min-height: 64px;
	-fx-padding: 5 5 5 5;
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: 48 48;
	-fx-background-color: transparent;
	-fx-background-position:center;	    
}

#playlist-button.playlist-icon{
	-fx-background-image: url("../../../src/assets/icons/icon-playlist-48.png");
}

#volume.volume-icon{
	-fx-background-size: 30 30;
  	-fx-background-image: url("../../../src/assets/icons/icon-volume-48.png");
}

#play-button.play-icon {
	-fx-background-image: url("../../../src/assets/icons/icon-play-48.png");
}

#play-button.pause-icon {
	-fx-background-image: url("../../../src/assets/icons/icon-pause-48.png");
}

#skip-button.skip-icon {
	-fx-background-size: 30 30;
	-fx-background-image: url("../../../src/assets/icons/icon-skip-48.png");
}

#skipback-button.skipback-icon{
	-fx-background-size: 30 30;
	-fx-background-image: url("../../../src/assets/icons/icon-skip-back-48.png");
}

#shuffle-button.shuffle-icon{
	-fx-background-size: 30 30;
  	-fx-background-image: url("../../../src/assets/icons/icon-shuffle-48.png");
}

#repeat-button.repeat-icon{
	-fx-background-size: 30 30;
  	-fx-background-image: url("../../../src/assets/icons/icon-repeat-48.png");
}

#repeat-button.repeat-one-icon{
	-fx-background-size: 30 30;
  	-fx-background-image: url("../../../src/assets/icons/icon-repeat-one-48.png");
}

#back-button.back-icon{
	-fx-background-image: url("../../../src/assets/icons/icon-down-48.png");
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}

.selected-item {
    -fx-border-color: black;
    -fx-border-width: 2;
}

